@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Montserrat:ital,wght@0,500;0,600;0,700;1,600&display=swap');
@import url(random-color.js);
body {
    color: azure;
}

div {
    display: flex;
    text-align: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

button[id='btn-el'] {
    min-width: 8%;
    max-width: 16%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

div > button {
    border: none;
    background-color: rgb(14, 162, 195);
    color: rgb(3, 3, 3);
    padding: 25px 25px;
    border-radius: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:medium;
}

.button_etc {
    display: flex;
    flex-direction: row;
}

span:first-child {
    margin: 6rem 0 6rem 45rem;
}

span:last-child {
    margin: 6rem 45em 6rem 0;
}

span:first-child, span:last-child {
    background-color: rgb(14, 162, 195);
    color: black;
    padding: 20px 20px;
    border: none;
    border-radius: 20%;
}

#quote {
    font-size: xx-large;
    font-family: Georgia, 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 400;
}

#author {
    font-size: larger;
    font-family: sans-serif, 'Times New Roman', serif;
    font-weight: 400;
}

a {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: white;
    opacity: 0.1;
}
a:hover {
    opacity: 1;
}

/* Styles for screen widths between 501px and 999px */
@media (min-width: 300px) and (max-width: 999px) {
    div:not(.button_etc) {
        margin: 375px 25px 25px 25px;
    }
    button[id='btn-el'] {
        max-width: 40%;
        max-height: 50%;
        padding: 35px 50px;
    }
}

/* Styles for screen widths equal to or greater than 1000px */
@media (min-width: 1000px) {
    div:not(.button_etc) {
        margin: 300px 200px 0px 200px;
    }
    button[id='btn-el'] {
        max-width: 40%;
        max-height: 50%;
        padding: 35px 50px;
    }
}