@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body {
    background: url('pic.jpg');
    color: azure;
}

div {
    display: flex;
    text-align: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 20em 25em 0 25em;
}

button[id='btn-el'] {
    min-width: 8%;
    max-width: 16%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

div > button {
    border: none;
    background-color: cadetblue;
    color: black;
    padding: 25px 25px;
    border-radius: 10%;
}

#quote {
    font-size: xx-large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}